@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


 * {
	background-color: transparent;
	/* outline: 1px solid red; */
} 

.navbar {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.home {
	background: linear-gradient(rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("/src/img/pizzaso.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	
    text-align: center;
	background-color: transparent;
}

.home-info {
	padding: 100px;
	color: #fff;
	background-color: transparent;
	
	
}

.home-info h1 {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 30px;
	font-family: 'Lexend';
	background-color: transparent;
	border: 3px solid;
	text-align: center;
	
}

.home-info h2 {
	background-color: transparent;
	font-family: 'Barlow';
}


.pizza-home {
	position: relative;
	display: flex;
    justify-content: center;
	align-items: center;
	width: 100%;

	filter: brightness(50%);

}

.button-home {
	background-color: transparent;
	margin: 20px;
	margin-top: 100px;
	
}

.button-home button {
	margin: 20px;
}

button {
		min-width: 130px;
		margin: 30px;
		width: 200px;
		height: 40px;
		color: #fff;
		padding: 5px 10px;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease;
		position: relative;
		z-index: 0;
		
		overflow: hidden;
		border: 2px solid #ffffff;
		color: #ffffff;
	  }
button:hover {
		color: rgb(217, 0, 0);
	  }

button:hover:after {
		height: 100%;
	  }

 


.info-space {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.info-space h1 {
	width: 40%;
	font-size: 90px;
}

.pizza-slice {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 250px 0px;
	width: 100%;
	height: 100%;
	
}

.pizza-box {
	width: 65%;
	height: 100%;
}

.box h1 {
	color: rgb(190, 0, 0);
}

.box h2 {
	color: rgb(53, 96, 53);
	font-size: 15px;
}

.box h4 {
	color: rgb(117, 117, 117);
	font-size: 20px;
}

.pizza-size {
	display: flex;
	justify-content: space-between;

	margin: 50px 0px;
}

.pizza-size h5{
	font-size: 15px;
	color: rgb(53, 96, 53);

}


.navbar img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
	cursor: pointer;
    width: 150px;
    margin: 10px;

}


#navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Josefin Sans";
    
    color: rgb(255, 255, 255);

    list-style: none;
}

#navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#navbar-links li:hover {
    color: rgb(207, 0, 0);
    
}

.navbar-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    
}

.navbar-login a {
    margin: 0px 10px;
    text-decoration: none;
    transition: 0.5s ease;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans";
}

.navbar-login a:hover {
    color: rgb(207, 0, 0);
    border-bottom: 1px solid rgb(207, 0, 0);
}

.navbar-login div {
    width: 1px;
    height: 1px;
}

.mobile i {
	display: none;

}


.nav-responsive {
	display: none;
}



@media screen and (max-width: 768px) {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.mobile {
		display: flex;
		background-color: rgb(70, 123, 75);
		width: 100%;
		justify-content: flex-end;
		top: 0;
		position: fixed;
		z-index: 3;
	
	}

	.mobile i {
		font-size: 24px;
		cursor: pointer;
		display: block;
		color: #fff;
		margin: 25px;

	}

	#navbar-links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 70px;
		right: -300px;
		width: 300px;
		height: 100vh;
		background-color: rgb(160, 0, 0) ;
		padding: 40px 0 0 10px;
		z-index: 3;
		transition: 0.3s ease-in-out;
	  }

	  #navbar-links.active  {
		right: 0px;
	  }

	  #navbar-links li {
		margin-bottom: 25px;
	  }


	button {
		width: 50%;
	}

	.pizza-size {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 50%;
	}

	.pizza-size{
		text-align: center;
		margin-top: 50px;
	}

	.pizza-size img {
		margin: 10px;
	}



	.info-space {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.navbar img {
		display: none;
	}

	.home-info h1 {
		
		text-align: center;
		width: 100%;
		font-size: 20px;
		
	}

	.main-logo img {
		display: none;
	}

	

	.navbar-login {
		display: none;
	}

	.pizza-slice {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px;
		
		
	}

	.pizza-slice img {
		width: 100%;

	}

	
  }

  @media screen and (max-width: 360) {

	.home-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
		
	}
  
	.home-info h1 {
		display: none;	
	}

	.button-home {
		display: none;
	}
  }

 